.dashboard {
  margin: 25px;
}

.dashboard-news {
  display: flex;
}

.list-news {
  flex-grow: 1;
  margin-right: 25px;
}

.title-list {
  min-height: 310px;
}

.list-content {
  line-height: 2.142857em !important;
}

.add-news {
  min-width: 400px;
}
