.main-nav {
  margin: 0 10px !important;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background: #cae4f7;
  background-image: linear-gradient(to bottom, #e5f3fe, #cae1f1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #cae1f1;
  color: #0055a6;
  font-size: 18px;
  text-decoration: none;
}

.menu-item:hover {
  color: #0055a6;
  background: #cae1f1;
  text-decoration: underline;
}

.title-block {
  display: block;
  position: relative;
  text-align: center;
}

.title-block::after {
  content: "";
  background: url("../media/header.jpg") no-repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.link {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 250px;
  margin: 50px 50px 50px 0;
}

h1.title {
  display: inline-block;
  color: #d2ab67;
  font-size: 38px;
  text-shadow: 1px 1px 2px #231f20;
}

.ui.inverted.blue.menu,
.ui.inverted.menu .blue.active.item {
  background: #cae4f7;
  background-image: linear-gradient(to bottom, #e5f3fe, #cae1f1);
}

.ui.menu .item {
  color: #0055a6;
  font-weight: bold;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: 0 0;
  color: #0055a6;
}

.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.link.inverted.menu .item:hover {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 85, 166, 0.95);
}

.ui.inverted.menu .active.item {
  background: rgba(0, 0, 0, 0.03);
  color: #0055a6 !important;
  font-weight: bold;
}

.ui.inverted.menu .active.item:hover {
  background: rgba(0, 0, 0, 0.03);
  color: #0055a6 !important;
  font-weight: bold;
}

.ui.menu .ui.dropdown .menu > .item {
  text-align: center;
}
