.app {
  margin: auto;
  min-width: 800px;
  max-width: 1200px;
  min-height: 700px;
  /* border: 1px solid #d3e6f5; */
  box-shadow: 0 0 10px #d3e6f5;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}
